<div class="wrapper-new-post" ng-show="editPostCtrl.post">
    <h2 class="modal-title">Sửa bài viết</h2>
    <form class="new_post">
        <div class="form-group">
            <label for="title">Tiêu đề</label>
            <input type="text" id="title" ng-model="editPostCtrl.post.title" class="form-control" placeholder="Tiêu đề tập trung vào vấn đề cần hỏi">
        </div>

        <div class="form-group">
            <label>Nội dung</label>
            <textarea ng-model="editPostCtrl.post.content" ui-tinymce="editPostCtrl.tinymceOptions"></textarea>
        </div>

        <div class="form-group">
            <label for="type">Thể loại</label>
            <div id="type">
                <label class="radio-inline"><input ng-model="editPostCtrl.post.type" type="radio" name="type" value="question">Question</label>
                <label class="radio-inline"><input ng-model="editPostCtrl.post.type" type="radio" name="type" value="note">Note</label>
                <label class="radio-inline"><input ng-model="editPostCtrl.post.type" type="radio" name="type" value="poll">Poll</label>
                <label class="radio-inline" ng-show="editPostCtrl.isTeacher"><input ng-model="editPostCtrl.post.type" type="radio" name="type" value="notification">Notification</label>
                <label class="radio-inline" ng-show="editPostCtrl.isTeacher"><input ng-model="editPostCtrl.post.type" type="radio" name="type" value="event">Exercise</label>
            </div>
        </div>

        <div class="form-group" ng-show="editPostCtrl.post.type == 'event'">
            <label for="time_end_event">Hạn nộp</label>
            <input class="form-control" id="time_end_event" datetime-picker date-format="{{editPostCtrl.date_format}}" future-only ng-model="editPostCtrl.time_end_event"/>
        </div>

        <div class="form-group">
            <label for="is_incognito">Đăng với tư cách</label>
            <select name="is_incognito" id="is_incognito" class="form-control" ng-model="editPostCtrl.post.is_incognito">
                <option value="0">{{editPostCtrl.user.name}}</option>
                <option value="1">Ẩn danh</option>
            </select>
        </div>

        <div class="create_topic">
            <a ng-click="editPostCtrl.update()" ng-bind="editPostCtrl.button"></a>
        </div>
    </form>

</div>