<div class="container">
    <div class="wrapper-forget-password">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 ed-box">
                <h1 class="ed-title title">Lấy lại mật khẩu</h1>
                <form ng-submit="forgetPassCtrl.submit()">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" ng-model="forgetPassCtrl.email" placeholder="Email của bạn" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="code" ng-model="forgetPassCtrl.code" placeholder="Mã số sinh viên của bạn" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary ed-button" type="submit" ng-disabled="forgetPassCtrl.disableSubmit">Gửi yêu cầu</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>