<div class="container">
    <div class="wrapper-new-password">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 ed-box">
                <h1 class="ed-title title">Tạo mật khẩu mới</h1>
                <form ng-submit="newPassCtrl.submit()">
                    <div class="form-group">
                        <input type="password" class="form-control" id="new_pass" ng-model="newPassCtrl.new_pass" placeholder="Mật khẩu mới">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="confirm_pass" ng-model="newPassCtrl.confirm_pass" placeholder="Nhập lại mật khẩu mới">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary ed-button" ng-click="changePassCtrl.update()">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>