<!--<div class="popular_topics sidebar">-->
    <!--<h3 class="title-sidebar">Chủ đề nổi bật</h3>-->
    <!--<ul class="list-sidebar">-->
        <!--<li><a href="#">Làm sao để cua gái đã có người yêu?</a></li>-->
        <!--<li><a href="#">Làm sao để cua gái đã có người yêu?</a></li>-->
        <!--<li><a href="#">Làm sao để cua gái đã có người yêu?</a></li>-->
        <!--<li><a href="#">Làm sao để cua gái đã có người yêu?</a></li>-->
    <!--</ul>-->
<!--</div>-->
<!--<div class="latest_comments sidebar">-->
    <!--<h3 class="title-sidebar">Chủ đề nổi bật</h3>-->
    <!--<ul class="list-sidebar">-->
        <!--<li>-->
            <!--<div class="comments">-->
                <!--<img src="../../assets/images/img.png" />-->
                <!--<div class="comment_content">-->
                    <!--<p class="author">Phúc Thị Bích Thoa</p>-->
                    <!--<p>"Con chó nhà em cũng bỏ ăn tuần này giống như anh thất tình đấy ạ."</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<a href="#">Làm sao để cua gái đã có người yêu?</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="comments">-->
                <!--<img src="../../assets/images/img.png" />-->
                <!--<div class="comment_content">-->
                    <!--<p class="author">Phúc Thị Bích Thoa</p>-->
                    <!--<p>"Con chó nhà em cũng bỏ ăn tuần này giống như anh thất tình đấy ạ."</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<a href="#">Làm sao để cua gái đã có người yêu?</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="comments">-->
                <!--<img src="../../assets/images/img.png" />-->
                <!--<div class="comment_content">-->
                    <!--<p class="author">Phúc Thị Bích Thoa</p>-->
                    <!--<p>"Con chó nhà em cũng bỏ ăn tuần này giống như anh thất tình đấy ạ."</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<a href="#">Làm sao để cua gái đã có người yêu?</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->